#hover_pane {
    position: absolute;
    top: 60px;
    right: 20px;
}

#card_image {
    position: relative;
}

#deck {
    position: absolute;
    top: 60px;
    left: 300px;
}

#deck h2 {
    position: relative;
}

#sets {
    position: absolute;
    top: 60px;
}