<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Pokemon TCG Deck Builder</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!-- Angular JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <!-- Compression Library -->
    <script src="static/js/lz-string.js"></script>

    <style>
        .height-capped {
            height: 700px;
            overflow: scroll;
        }

        .truncate-small {
            width: 35%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .truncate-large {
            width: 40%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
</head>
<body style="background-image: url('/static/images/escheresque_ste.png');">

<div class="container" ng-app="deckBuilder" ng-controller="deckBuilderCtrl">
    <!-- Header -->
    <div class="jumbotron">
        <h1>Pokemon TCG Deck Builder</h1>
    </div>
    <div class="well">
        <!-- Headers -->
        <div class="row" >
            <!-- Card preview headers -->
            <div class="col-sm-3">
                <!-- Place holder for header for card previewer -->
                <p><strong><span ng-bind="hovername"></span></strong></p>
                <p><span ng-bind="hoverset"></span> <span class="pull-right">ID: <span ng-bind="hoverid"></span></span></p>
            </div>
            <!-- Card Set Headers -->
            <div class="col-sm-4">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        Sets <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        {% raw %}
                        <li class="dropdown-header">Formats</li>
                        <li><a href="#" ng-click="change_set_list('standard')">Standard</a></li>
                        <li><a href="#" ng-click="change_set_list('expanded')">Expanded</a></li>
                        <li class="dropdown-header" ng-repeat-start="(series,sets) in structured_sets_list">
                            {{ series }}
                        </li>
                        <li ng-repeat-start="set in sets">
                            <a href="#" ng-click="change_set_list(set[0])">{{ set[1] }}</a>
                        </li>
                        <li ng-repeat-end=""></li> <!-- ends the set iterator -->
                        <li ng-repeat-end="" class="divider"></li> <!-- ends the series iterator -->
                        {% endraw %}
                    </ul>
                </div>
                {% raw %}
                <p class="pull-right" style="padding: 2px;"><strong>{{ sets_list[active_set] }}</strong></p>
                {% endraw %}
                <input placeholder="Search" type="text" class="form-control" ng-model="setFilter"/>
            </div>
            <!-- Deck Headers -->
            <div class="col-sm-5">
                <button type="button" class="btn btn-primary" ng-click="save_deck()">Save</button>
                <p class="pull-right" style="padding: 2px;">Card Count: <span ng-bind="deck_size"></span>/60</p>
                <input placeholder="Deck Name" type="text" class="form-control" ng-model="deckName" ng-change="update_deck_link()" />
            </div>
        </div>
        <!-- Main Content -->
        <div class="row">

            <!-- Card Preview -->
            <div class="col-sm-3" id="cardview">
                {% raw %}
                <img style="width:100%" ng-src="{{hovercard}}"/>
                {% endraw %}
            </div>

            <!-- List of cards in set -->
            <div class="col-sm-4 height-capped" id="setlist">
                {% raw %}
                <ul class="list-group-item" style="padding:0px;">
                    <li class="list-group-item" ng-repeat="x in active_set_list | filter : setFilter"
                            ng-mouseover="card_hover(x)">

                        <!-- Left Objects -->
                        <span class="pull-left truncate-large">{{ x.name }}</span>

                        <!-- Right Objects -->
                        <span class="pull-right">
                            <button class="glyphicon glyphicon-plus" ng-click="add_to_deck(x)"></button>
                        </span>
                        <span class="hidden-sm hidden-xs pull-right truncate-small">{{ x.type }}</span>

                        <!-- Fix line height -->
                        <span>&nbsp;</span>
                    </li>
                </ul>
                {% endraw %}
            </div>

            <!-- List of cards in deck -->
            <div class="col-sm-5 height-capped" id="decklist">
                {% raw %}
                <ul class="list-group-item" style="padding:0px;">
                    <li class="list-group-item" ng-repeat="x in deck_list | sortDeck"
                            ng-mouseover="card_hover(x.card)">
                        <!-- Left Objects -->
                        <span class="badge" style="float:left; margin-right: 10px;">{{ x.count }}</span>
                        <span class="pull-left truncate-large">{{ x.card.name }}</span>

                        <!-- Right Objects -->
                        <span class="pull-right">
                            <button class="glyphicon glyphicon-plus" ng-click="add_to_deck(x.card)"></button>
                            <button class="glyphicon glyphicon-minus" ng-click="remove_from_deck(x.card)"></button>
                        </span>
                        <span class="hidden-md hidden-sm hidden-xs pull-right truncate-small">{{ x.card.type }}</span>

                        <!-- Fix line height -->
                        <span>&nbsp;</span>
                    </li>
                </ul>
                {% endraw %}
            </div>
        </div>
    </div>
</div>
<script src="static/js/deckBuilderApp.js"></script>
</body>
</html>
